<!--about-->
<link rel="stylesheet" href="{{ url_for('static', filename='about us.css') }}">

<link rel="icon" href="{{ url_for('static', filename='img/123.png') }}">
<div class="about-section">
    <h1>About Us </h1>
    <p>A Snapcart website that allows people to buy and sell physical goods, <br>
         services, and digital products over the internet rather than at a brick-and-mortar location. 
       <p> Through an e-commerce website, a business can process orders, accept payments, manage shipping <br>
        and logistics, and provide customer service.</p>
    
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='img/account13.avif') }}" style="width: 100%;" >

        <div class="container">
          <h2>Guhan Raj</h2>
          <p class="title">Cloud Engineer</p>
          <p>A cloud engineer is a highly skilled professional responsible for designing, developing, and managing cloud-based infrastructure, applications, and 
            services.</p>
          <p> Email:guhanguhan172@gmail.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='img/account8.avif') }}" style="width: 100%;" alt="Mike" >

        <div class="container">
          <h2>Madhumidha</h2>
          <p class="title">FrontEnd Developer</p>
          <p>A Front-End Developer is responsible for 
            determining the structure and design of web pages,  
            and using a variety of markup languages to create the web pages.</p>
          <p>madhumidha232003@gmail.com</p>
         
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='img/account7.avif') }}" style="width: 100%;" alt="John">

        <div class="container">
          <h2>Ramyakrishnan</h2>
          <p class="title">Backend Developer</p>
          <p>Backend developer responsibilities include creating,
             testing, and debugging the entire back end of an application or system. This includes the
             databases,and API. </p>
          <p>Email:KRamyakrishnan7@gmail.com</p>
         
         
        </div>
      </div>
    </div>
  </div>
  <center>
  <a href="/"><button class="button">Home</button></a></center>
  
  
