<link rel="stylesheet" href="{{ url_for('static', filename='payment.css') }}">
<link rel="icon" href="{{ url_for('static', filename='123.png') }}">
<title>snapcart payment</title>
<center>
    <img src="{{ url_for('static', filename='img/empty payment.avif') }}">


<h1>Oops! You Don't Order Anything</h1>
<h3>Before proceed to Payment you must add some products to your shopping cart.<br>
     You will find a lot of interesting products on our "Shop" page.

</h3>
<a href="/"><button class="btn P-2 my-lg-0 my-2">Explore</button></a></center>
