<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snapcart</title>
    <link rel="icon" href="{{ url_for('static', filename='img/123.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <a href="index.html"></a>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!--nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark "id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SNAPCART</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
           data-bs-target="#navbarSupportedContent"
           aria-expanded="false" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home 🏠|</a>

              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Categories 🔎|</a>

              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('payment') }}">payment💳 |</a>

              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/payment">my cart 🛒<span id="cartincrement">0</span>|</a>
              </li>

              </ul>
             
             </div>
             </nav>
             <section id="products">
                <div class="container m-5">
                  <h2 class=" text-center my-5">Fruits And Vegetables</h2>
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-5">
                        <div class="card">
                          <img src="{{ url_for('static', filename='img/onion1.jpg') }}" > <class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title">Onion (Vengayam) 1kg</h5>
                             <h4> <p class="card-text">RS.37</p></h4>
                             
                             <a href="#" class="btn btn-primary"onclick="incrementButton()
                             ">Add to Cart</a>
                            </div>
                          </div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-5">
                            <div class="card">
                                <img src="{{ url_for('static', filename='img/tomato1.jpg') }}" > <class="card-img-top">
                                <div class="card-body">
                                  <h5 class="card-title">Tomato (Thakali)1kg</h5>
                                 <h4> <p class="card-text">RS.43</p></h4>
                                  <a href="#" class="btn btn-primary"onclick="incrementButton()
                                  ">Add to Cart</a>
                                </div>
                              </div>
                              </div>
                              <div class="col-lg-2 col-md-2 col-5">
                                <div class="card">
                                  <img src="{{ url_for('static', filename='img/radish2.jpg') }}" > <class="card-img-top">
                                    <div class="card-body">
                                      <h5 class="card-title"> Radish (Mulanghi) 1kg</h5>
                                     <h4> <p class="card-text">RS.43</p></h4>
                                      <a href="#" class="btn btn-primary"onclick="incrementButton()
                                      "
                                      >Add to Cart</a>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="col-lg-2 col-md-2 col-5">
                                    <div class="card">
                                      <img src="{{ url_for('static', filename='img/ginger.jpg') }}" > <class="card-img-top">
                                        <div class="card-body">
                                          <h5 class="card-title">Ginger Large (Inji)    200g</h5>
                                         <h4> <p class="card-text">RS.34</p></h4>
                                          <a href="#" class="btn btn-primary"onclick="incrementButton()
                                          ">Add to Cart</a>
                                        </div>
                                      </div>
                                      </div>
                                      <div class="col-lg-2 col-md-2 col-5">
                                        <div class="card">
                                          <img src="{{ url_for('static', filename='img/green apple.jpg') }}" > <class="card-img-top">
                                            <div class="card-body">
                                              <h5 class="card-title">green apple 250g</h5>
                                             <h4> <p class="card-text">RS.24</p></h4>
                                              <a href="#" class="btn btn-primary"onclick="incrementButton()
                                              ">Add to Cart</a>
                                            </div>
                                          </div>
                                          </div>
                                          <div class="col-lg-2 col-md-2 col-5">
                                            <div class="card">
                                              <img src="{{ url_for('static', filename='img/cali1.jpg') }}" ><class="card-img-top">
                                                <div class="card-body">
                                                  <h5 class="card-title">Cauliflower 1piece</h5>
                                                 <h4> <p class="card-text">RS.28</p></h4>
                                                  <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                  ">Add to Cart</a>
                                                </div>
                                              </div>
                                              </div>
                                              <div class="col-lg-2 col-md-2 col-5">
                                                <div class="card">
                                                  <img src="{{ url_for('static', filename='img/potato.jpg') }}" > <class="card-img-top">
                                                    <div class="card-body">
                                                      <h5 class="card-title">Potato(Urulai Kilanghu)1kg</h5>
                                                     <h4> <p class="card-text">RS.38</p></h4>
                                                      <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                      ">Add to Cart</a>
                                                    </div>
                                                  </div>
                                                  </div>
                                                  <div class="col-lg-2 col-md-2 col-5">
                                                    <div class="card">
                                                      <img src="{{ url_for('static', filename='img/carrot1.jpg') }}" ><class="card-img-top">
                                                        <div class="card-body">
                                                          <h5 class="card-title">Carrot Malur 500g</h5>
                                                         <h4> <p class="card-text">RS.45</p></h4>
                                                          <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                          ">Add to Cart</a>
                                                        </div>
                                                      </div>
                                                      </div>
                                                      <div class="col-lg-2 col-md-2 col-5">
                                                        <div class="card">
                                                          <img src="{{ url_for('static', filename='img/apple2.jpg') }}" > <class="card-img-top">
                                                            <div class="card-body">
                                                              <h5 class="card-title">Apple Kashmir 4Pieces</h5>
                                                             <h4> <p class="card-text">RS.140</p></h4>
                                                              <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                              ">Add to Cart</a>
                                                            </div>
                                                          </div>
                                                          </div>
                                                          <div class="col-lg-2 col-md-2 col-5">
                                                            <div class="card">
                                                              <img src="{{ url_for('static', filename='img/orange2.jpg') }}" > <class="card-img-top">
                                                                <div class="card-body">
                                                                  <h5 class="card-title">Mandarin Orange 500g</h5>
                                                                 <h4> <p class="card-text">RS.200</p></h4>
                                                                  <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                  ">Add to Cart</a>
                                                                </div>
                                                              </div>
                                                              </div>
                                                              <div class="col-lg-2 col-md-2 col-5">
                                                                <div class="card">
                                                                  <img src="{{ url_for('static', filename='img/pine1.jpg') }}" > <class="card-img-top">
                                                                    <div class="card-body">
                                                                      <h5 class="card-title">Pine Apple 1Piece</h5>
                                                                     <h4> <p class="card-text">RS.79</p></h4>
                                                                      <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                      ">Add to Cart</a>
                                                                    </div>
                                                                  </div>
                                                                  </div>
                                                                  <div class="col-lg-2 col-md-2 col-5">
                                                                    <div class="card">
                                                                      <img src="{{ url_for('static', filename='img/avacoda1.jpg') }}" > <class="card-img-top">
                                                                        <div class="card-body">
                                                                          <h5 class="card-title">Avocado Semi Ripe 1Piece</h5>
                                                                         <h4> <p class="card-text">RS.164</p></h4>
                                                                          <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                          ">Add to Cart</a>
                                                                        </div>
                                                                      </div>
                                                                      </div>
                                                                      <div class="col-lg-2 col-md-2 col-5">
                                                                        <div class="card">
                                                                          <img src="{{ url_for('static', filename='img/bana.jpg') }}" > <class="card-img-top">
                                                                            <div class="card-body">
                                                                              <h5 class="card-title">Banana(Karpooravalli) 500g</h5>
                                                                             <h4> <p class="card-text">RS.40</p></h4>
                                                                              <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                              ">Add to Cart</a>
                                                                            </div>
                                                                          </div>
                                                                          </div>
                                                                          <div class="col-lg-2 col-md-2 col-5">
                                                                            <div class="card">
                                                                              <img src="{{ url_for('static', filename='img/pomo.jpg') }}" > <class="card-img-top">
                                                                                <div class="card-body">
                                                                                  <h5 class="card-title">Pomegranate Regular 1kg</h5>
                                                                                 <h4> <p class="card-text">RS.190</p></h4>
                                                                                  <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                  ">Add to Cart</a>
                                                                                </div>
                                                                              </div>
                                                                              </div>
                                                                              <div class="col-lg-2 col-md-2 col-5">
                                                                                <div class="card">
                                                                                  <img src="{{ url_for('static', filename='img/papaya1.jpg') }}" ><class="card-img-top">
                                                                                    <div class="card-body">
                                                                                      <h5 class="card-title">Papaya(Papali) 1Piece</h5>
                                                                                     <h4> <p class="card-text">RS.64</p></h4>
                                                                                      <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                      ">Add to Cart</a>
                                                                                    </div>
                                                                                  </div>
                                                                                  </div>
                                                                                  <div class="col-lg-2 col-md-2 col-5">
                                                                                    <div class="card">
                                                                                      <img src="{{ url_for('static', filename='img/dragon.jpg') }}" > <class="card-img-top">
                                                                                        <div class="card-body">
                                                                                          <h5 class="card-title">Dragon Fruit 1Piece</h5>
                                                                                         <h4> <p class="card-text">RS.81</p></h4>
                                                                                          <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                          ">Add to Cart</a>
                                                                                        </div>
                                                                                      </div>
                                                                                      </div>
                                                                                      <div class="col-lg-2 col-md-2 col-5">
                                                                                        <div class="card">
                                                                                          <img src="{{ url_for('static', filename='img/coco2.jpg') }}" > <class="card-img-top">
                                                                                            <div class="card-body">
                                                                                              <h5 class="card-title">Coconut Small 1Piece</h5>
                                                                                             <h4> <p class="card-text">RS.48</p></h4>
                                                                                              <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                              ">Add to Cart</a>
                                                                                            </div>
                                                                                          </div>
                                                                                          </div>
                                                                                          <div class="col-lg-2 col-md-2 col-5">
                                                                                            <div class="card">
                                                                                              <img src="{{ url_for('static', filename='img/ilaneer.jpg') }}" > <class="card-img-top">
                                                                                                <div class="card-body">
                                                                                                  <h5 class="card-title">Tender Coconut 1Piece</h5>
                                                                                                 <h4> <p class="card-text">RS.90</p></h4>
                                                                                                  <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                                  ">Add to Cart</a>
                                                                                                </div>
                                                                                              </div>
                                                                                              </div>
                                                                                              <div class="col-lg-2 col-md-2 col-5">
                                                                                                <div class="card">
                                                                                                  <img src="{{ url_for('static', filename='img/lemon1.jpg') }}" > <class="card-img-top">
                                                                                                    <div class="card-body">
                                                                                                      <h5 class="card-title">Lemon(Elumichai Pazam)200g</h5>
                                                                                                     <h4> <p class="card-text">RS.29</p></h4>
                                                                                                      <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                                      ">Add to Cart</a>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                  </div>
                                                                                                  <div class="col-lg-2 col-md-2 col-5">
                                                                                                    <div class="card">
                                                                                                      <img src="{{ url_for('static', filename='img/kiwi.jpg') }}" > <class="card-img-top">
                                                                                                        <div class="card-body">
                                                                                                          <h5 class="card-title">Kiwi Green 3Pieces</h5>
                                                                                                         <h4> <p class="card-text">RS.147</p></h4>
                                                                                                          <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                                          ">Add to Cart</a>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                      </div>
                                                                                                      <div class="col-lg-2 col-md-2 col-5">
                                                                                      <div class="card">
                                                                                        <img src="{{ url_for('static', filename='img/mango2.jpg') }}" > <class="card-img-top">
                                                                                                            <div class="card-body">
                                                                                                              <h5 class="card-title">Mango Rumaani 1kg</h5>
                                                                                                             <h4> <p class="card-text">RS.200</p></h4>
                                                                                                              <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                                              ">Add to Cart</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                                          </div>
                                                                                                          <div class="col-lg-2 col-md-2 col-5">
                                                                                                           <div class="card">
                                                                                                            <img src="{{ url_for('static', filename='img/drum2.jpg') }}" ><class="card-img-top">
                                                                                                            <div class="card-body">
                                                                                                              <h5 class="card-title">Drumstick 2Pieces</h5>
                                                                                                             <h4> <p class="card-text">RS.20</p></h4>
                                                                                                              <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                                              ">Add to Cart</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                                          </div>

                                                                                                          <div class="col-lg-2 col-md-2 col-5">
                                                                                                            <div class="card">
                                                                                                              <img src="{{ url_for('static', filename='img/dates.jpg') }}" > <class="card-img-top">
                                                                                                                <div class="card-body">
                                                                                                                  <h5 class="card-title">Dates 250g</h5>
                                                                                                                 <h4> <p class="card-text">RS.24</p></h4>
                                                                                                                  <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                                                  ">Add to Cart</a>
                                                                                                                </div>
                                                                                                              </div>
                                                                                                              </div>       
                                                                                                              <div class="col-lg-2 col-md-2 col-5">
                                                                                                                <div class="card">
                                                                                                                  <img src="{{ url_for('static', filename='img/goiya1.jpg') }}" ><class="card-img-top">
                                                                                                                    <div class="card-body">
                                                                                                                      <h5 class="card-title">Guava 1kg</h5>
                                                                                                                     <h4> <p class="card-text">RS.100</p></h4>
                                                                                                                      <a href="#" class="btn btn-primary"onclick="incrementButton()
                                                                                                                      ">Add to Cart</a>
                                                                                                                    </div>
                                                                                                                  </div>
                                                                                                                  </div>
                                                                                                                  <script src="{{ url_for('static', filename='main.js') }}"></script>
                                                                                                                  </div>
                                                                                                                  </div>
                                                                                                                  </section>
                                                                                                                  </body>
                                                                                                                  </html>                                         
                                            
                                            
                                        
                                        
                                    
                                
                            
    
                                                
                                            
                                        
                                        
                                    
                                    
                                
                            
                        
