<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snapcart</title>
    <link rel="icon" href="{{ url_for('static', filename='img/123.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <a href="index.html"></a>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    

<body> 
  
    <!--nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark "id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SNAPCART</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
           data-bs-target="#navbarSupportedContent"
           aria-expanded="false" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link"  href="/">Home 🏠|</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/">Categories 🔎|</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/payment">payment💳 |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/payment">my cart 🛒<span id="cartincrement">0</span>|</a>
              </li>
              
              </ul>
             </div>
             </nav>
             <section id="products">
                <div class="container m-5">
                  <h2 class=" text-center my-5">Milks,Bread And Oats</h2>
                  <u> <h3 class=" text-center my-5">Milks</h3></u>
                 
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-5">
                        <div class="card">
                          <img src="{{ url_for('static', filename='img/milk1.jpg') }}" > <class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title">Cow Milk 1Litre With Bottle</h5>
                             <h4> <p class="card-text">RS.100</p></h4>
                              <a href="#" class="btn btn-primary"onclick="incrementButton()
                              ">Add to Cart</a>
                            </div>
                          </div>
 </div>
 <div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/milk2.jpg') }}" > <class="card-img-top">
        <div class="card-body"> 
          <h5 class="card-title">Gu Milks(1Bottle)</h5>
         <h4> <p class="card-text">RS.29</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/milk3.jpg') }}" > <class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Organic Milk 1Bottle</h5>
         <h4> <p class="card-text">RS.80</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/milk4.jpg') }}" > <class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Nature Milks 1Bottle</h5>
         <h4> <p class="card-text">RS.150</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/milk1.jpg') }}" > <class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Gu Milks   (Aavin)1Litre</h5>
         <h4> <p class="card-text">RS.110</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/milk4.jpg') }}" ><class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">White milk Pasteurized </h5>
         <h4> <p class="card-text">RS.110</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<u> <h3 class=" text-center my-5">Eggs</h3></u>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/brown3.jpg') }}" > <class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Brown Egg 1Pieces </h5>
         <h4> <p class="card-text">RS.10</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/white egg3.jpg') }}" ><class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">White Egg 1Piece </h5>
         <h4> <p class="card-text">RS.10</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/mixed egg.jpg') }}" ><class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Mixed Egg 1Piece </h5>
         <h4> <p class="card-text">RS.100</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/raw eggs1.jpg') }}" > <class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">RawEgg 1Piece </h5>
         <h4> <p class="card-text">RS.20</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/boiled egg.jpg') }}" ><class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">BoiledEgg 1Piece </h5>
         <h4> <p class="card-text">RS.20</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/yellow egg.jpg') }}" > <class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Yellow Egg 1Piece </h5>
         <h4> <p class="card-text">RS.10</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
      </div>
<u> <h3 class=" text-center my-5">Breads</h3></u>
<div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/bakery bread.jpg') }}" > <class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Bakery Bread 1Packet </h5>
         <h4> <p class="card-text">RS.40</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
      </div>
      <div class="col-lg-2 col-md-2 col-5">
        <div class="card">
          <img src="{{ url_for('static', filename='img/coco bread.jpg') }}" > <class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Coco Bread 1Packet </h5>
             <h4> <p class="card-text">RS.60</p></h4>
              <a href="#" class="btn btn-primary"onclick="incrementButton()
              ">Add to Cart</a>
            </div>
          </div>
          </div>
          <div class="col-lg-2 col-md-2 col-5">
            <div class="card">
              <img src="{{ url_for('static', filename='img/masala bread.jpg') }}" > <class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Masala Bread 1Packet </h5>
                 <h4> <p class="card-text">RS.50</p></h4>
                  <a href="#" class="btn btn-primary"onclick="incrementButton()
                  ">Add to Cart</a>
                </div>
              </div>
              </div>
              <div class="col-lg-2 col-md-2 col-5">
                <div class="card">
                  <img src="{{ url_for('static', filename='img/pavbajji bread.jpg') }}" > <class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Masala Bread 1Packet </h5>
                     <h4> <p class="card-text">RS.50</p></h4>
                      <a href="#" class="btn btn-primary"onclick="incrementButton()
                      ">Add to Cart</a>
                    </div>
                  </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-5">
                    <div class="card">
                      <img src="{{ url_for('static', filename='img/packaged bread.jpg') }}" > <class="card-img-top">
                        <div class="card-body">
                          <h5 class="card-title">Packaged Bread 1Packet </h5>
                         <h4> <p class="card-text">RS.30</p></h4>
                          <a href="#" class="btn btn-primary"onclick="incrementButton()
                          ">Add to Cart</a>
                        </div>
                      </div>
 </div>
 <div class="col-lg-2 col-md-2 col-5">
    <div class="card">
      <img src="{{ url_for('static', filename='img/breakfast bread.jpg') }}" > <class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Breakfast Bread 1Packet </h5>
         <h4> <p class="card-text">RS.20</p></h4>
          <a href="#" class="btn btn-primary"onclick="incrementButton()
          ">Add to Cart</a>
        </div>
      </div>
</div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</div>
</div>
</section>
</body>
</html>
    
