<html>
<head>
  <title>Register Successful
   
  </title>
  <link rel="icon" href="{{ url_for('static', filename='img/123.png') }}">
  
</head>
<body>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='submit.css') }}">
 <center> <h1>Registration Successful!</h1><br>
      <p>Your registration has been completed successfully.</p><br>
  <p>Thank you for registering.</p>
  <a href="/"><button class="btn P-2 my-lg-0 my-2">Go To Home</button></a>
</body>
</html>